In [4]:
import pandas as pd
housing = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")
housing.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0

In [6]:
housing.describe() #checking for missing value

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

# Linear regression: sklearn and statsmodels

In [4]:
housing.dtypes
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
longitude             17000 non-null float64
latitude              17000 non-null float64
housing_median_age    17000 non-null float64
total_rooms           17000 non-null float64
total_bedrooms        17000 non-null float64
population            17000 non-null float64
households            17000 non-null float64
median_income         17000 non-null float64
median_house_value    17000 non-null float64
dtypes: float64(9)
memory usage: 1.2 MB

In [5]:
sorted_housing = housing.sort_values(['total_bedrooms'], ascending = False)
sorted_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
12772,-121.79,36.64,11.0,32627.0,6445.0,28566.0,6082.0,2.3087,118800.0
2871,-117.74,33.89,4.0,37937.0,5471.0,16122.0,5189.0,7.4947,366300.0
2969,-117.78,34.03,8.0,32054.0,5290.0,15507.0,5050.0,6.0191,253900.0
1116,-117.12,33.52,4.0,30401.0,4957.0,13251.0,4339.0,4.5841,212300.0
2086,-117.34,33.98,10.0,17286.0,4952.0,9851.0,4616.0,1.7579,103400.0

In [6]:
housing['upper'] = housing['median_house_value'].mean() + 3*housing['median_house_value'].std()
housing['lower'] = housing['median_house_value'].mean() - 3*housing['median_house_value'].std()
housing['outlier'] = (housing['median_house_value'] > housing['upper']) | (housing['median_house_value'] < housing['lower'])
housing['outlier'].unique()

array([False], dtype=bool)

In [7]:
housing['median_house_value'].unique()
len(housing['median_house_value'])
len(housing['median_income'])

17000

In [8]:
## Linear regression using sklearn
from sklearn import linear_model

In [21]:
x = housing[['median_income']]
y = housing[['median_house_value']]
#y.shape
lm = linear_model.LinearRegression()
model = lm.fit(x,y)
lm.coef_
lm.score(x,y) #R square of the model
predictions = lm.predict(x)
predictions[0:5]
lm.intercept_

array([ 43980.6281563])

In [14]:
## Linear regression using statsmodel
import statsmodels.api as sm
x = sm.add_constant(x)
z = housing[['total_bedrooms','median_house_value']] #multiple regression
model = sm.OLS(y, x).fit()
predictions = model.predict(x)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     median_house_value   R-squared:                       0.482
Model:                            OLS   Adj. R-squared:                  0.482
Method:                 Least Squares   F-statistic:                     7899.
Date:                Fri, 13 Apr 2018   Prob (F-statistic):               0.00
Time:                        12:07:14   Log-Likelihood:            -2.1678e+05
No. Observations:               17000   AIC:                         4.336e+05
Df Residuals:                   16997   BIC:                         4.336e+05
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const           3.562e+04   1676.401     21.249      0.000    3.23e+04    3.89e+04
median_income    4.21e+04    335.674    125.417      0.000    4.14e+04    4.28e+04
total_bedrooms    15.1700      1.520      9.983      0.000      12.191      18.149
==============================================================================
Omnibus:                     3497.957   Durbin-Watson:                   0.848
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7619.611
Skew:                           1.192   Prob(JB):                         0.00
Kurtosis:                       5.252   Cond. No.                     1.81e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.81e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""